@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color1: #0ea5e9;
  --primary-color2: rgb(255, 254, 254);
  --primary-color3: #e5e7eb;
}

body {
  font-family: "Roboto", sans-serif;
}

.outergrid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.rightnavbar {
  grid-row: 1/-1;
  background-color: var(--primary-color1);
  grid-column: span 2;
}
.uppernavbar {
  grid-column: 3/-1;
  background-color: var(--primary-color2);
  grid-row: span 2;
}

.maincontent {
  grid-row: 3/-1;
  background-color: var(--primary-color3);
  grid-column: span 8;
}

.logo-svg {
  fill: white;
  height: 3rem;
  width: 3rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 1em;
  margin-bottom: 1rem;
}

.logo-h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: 10px;
}
.main-menu {
  margin-left: 20px;
}
.menu-svg {
  fill: white;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 15px;
}
.menu-list {
  display: flex;
  margin-bottom: 20px;
  margin-left: 10px;
  align-items: center;
  color: white;
  font-weight: 900;
}
.bottom-menu {
  margin-top: 3rem;
}

/*Upper Bar
*/
.uppernavbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 20px 20px 5px black;
}
.upper-svg {
  fill: black;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 15px;
}

.search {
  display: flex;
  align-items: center;
}

input[type="search"] {
  appearance: none;
  width: 40rem;
  height: 2.5rem;
  margin-left: 5px;
  border-radius: 20px;
  background-color: var(--primary-color3);
  border: none;
}
.profile-img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: left;
}
img,
.bell-ring {
  margin-right: 20px;
}
.searchbar-section {
  display: flex;
  justify-content: space-between;
}
.intro-section {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.intro {
  display: flex;
  align-items: center;
  line-height: 2em;
}

.words > p {
  font-weight: 900;
  color: rgb(56, 55, 55);
}

button {
  padding: 10px;
  width: 120px;
  border-radius: 25px;
  background-color: var(--primary-color1);
  border: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
  margin-right: 20px;
}

/*Projects*/

.maincontent{
  display:grid;
  grid-template-columns: repeat(10,1fr);
  
}
.project-grid-container {
  grid-column:1/7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:repeat(2,1fr);
  gap: 1rem;
  margin-top:15px;

}

.projects{
  padding:20px;
  grid-column:1/4;
}

.side-section{
  grid-column:span 3;
}

.grid-items {
  background-color: var(--primary-color2);
  padding: 1rem;
  height:200px;
  width:350px;
  border-radius:10px;
  padding:30px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.icons {
  fill: black;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  width:100%;
  
}

.icons > :not(:last-child){
  margin-right:20px;
  

}
